.profileMenuContainer {
	padding: 0 16px;
	padding-top: 16px;
	background-color: #fff;
	// width: 280px;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	box-shadow: 0 4px 16px #00000038;
	border-radius: 16px;
	display: flex;
	flex-direction: column;

	@media (min-width: 576px) {
		width: 100%;
	}

	@media (min-width: 768px) {
		width: 100%;
	}

	@media (min-width: 992px) {
		width: 100%;
		// padding: 0;
	}

	@media (min-width: 1200px) {
		width: 100%;
	}

	.profileMenuHeader {
		font-family: var(--font-montserrat), sans-serif;
		font-size: 18px;
		font-weight: 700;
		text-align: center;
	}

	.profileMenuList {
		flex: 1;
		display: flex;
		font-family: var(--font-montserrat), sans-serif;
		gap: 10px;
		justify-content: center;
		align-items: center;

		.profileMenuListItem {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			text-align: center;
			font-family: var(--font-montserrat), sans-serif;
			gap: 4px;
			font-weight: 600;
			font-size: 12px;
			box-shadow: 0px 8px 24px #4caf4f56;
			border-radius: 12px;
			width: 120px;
			height: 120px;
			transition: all 0.4s ease-in-out;

			&:hover {
				cursor: pointer;
				box-shadow: 0px 8px 24px #4caf4fc0;
			}

			.profileMenuListItemIcon {
				width: 52px;
				height: 52px;
			}

			.profileMenuListItemHeader {
				max-width: 100px;
			}
		}
	}
}

.profileMenuSlider {
	width: 260px;
	margin: auto;

	@media (min-width: 420px) {
		width: 380px;
	}

	@media (min-width: 576px) {
		width: 400px;
	}

	@media (min-width: 768px) {
		width: 480px;
	}

	@media (min-width: 992px) {
		width: 540px;
	}

	@media (min-width: 1200px) {
		width: 560px;
	}
}
