.profileMenuContainer {
	padding-top: 16px;
	background-color: #fff;
	width: 100%;
	height: 100%;
	// height: 340px;
	box-shadow: 0 4px 16px #00000038;
	border-radius: 16px;
	display: flex;
	flex-direction: column;

	.profileMenuHeader {
		font-family: var(--font-montserrat), sans-serif;
		font-size: 18px;
		font-weight: 700;
		text-align: center;
	}

	.profileMenuList {
		flex: 1;
		display: flex;
		font-family: var(--font-montserrat), sans-serif;
		gap: 10px;
		justify-content: center;
		align-items: center;

		.profileMenuListItem {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			text-align: center;
			font-family: var(--font-montserrat), sans-serif;
			gap: 4px;
			font-weight: 600;
			font-size: 12px;
			box-shadow: 0px 8px 24px #4caf4f56;
			border-radius: 12px;
			width: 120px;
			height: 120px;
			transition: all 0.4s ease-in-out;

			&:hover {
				cursor: pointer;
				box-shadow: 0px 8px 24px #4caf4fc0;
			}

			.profileMenuListItemIcon {
				width: 52px;
				height: 52px;
			}

			.profileMenuListItemHeader {
				max-width: 100px;
			}
		}
	}
}

//

/* Для стандартных стрелок */
