.cancelOrderContainer {
	margin-bottom: 60px;
	padding: 0 4px;

	@media (min-width: 576px) {
		padding: 0 8px;
	}

	@media (min-width: 768px) {
		padding: 0 4px;
	}

	@media (min-width: 1200px) {
		padding: 0;
	}

	// @media (min-width: 1200px) {
	// 	font-size: 14px;
	// }

	.cancelOrderHeader {
		font-family: var(--font-montserrat), sans-serif;
		font-weight: 700;
		font-size: 42px;
		text-align: center;
		position: relative;
		margin: o auto;
		margin-bottom: 30px;
	}
}
