.faqContainer {
	text-align: center;
	margin-bottom: 60px;

	.faqHeader {
		font-family: var(--font-montserrat), sans-serif;
		font-weight: 700;
		font-size: 42px;
		text-align: center;
		position: relative;
		margin: o auto;
	}

	.faqText {
		color: #666666;
		text-align: center;
		margin: 0 auto;
		font-family: var(--font-openSans), sans-serif;
		font-size: 20px;
		font-weight: 700;
	}

	.faqTextLink {
		transition: all 0.4s ease-in-out;

		&:hover {
			color: #333333;
		}
	}
}
