.heroBlock {
	position: relative;
	color: #fff;
	margin-bottom: 20px;

	@media (min-width: 576px) {
		margin-bottom: 30px;
	}

	@media (min-width: 768px) {
		margin-bottom: 40px;
	}

	@media (min-width: 992px) {
		margin-bottom: 50px;
	}

	@media (min-width: 1200px) {
		margin-bottom: 60px;
	}

	.heroBlockContent {
		padding: 100px 0 0 12px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		@media (min-width: 420px) {
			padding: 80px 0 0 16px;
		}

		@media (min-width: 576px) {
			padding: 100px 0 0 40px;
		}

		@media (min-width: 768px) {
			padding: 120px 0 0 120px;
		}

		@media (min-width: 992px) {
			padding: 100px 0 0 120px;
		}

		@media (min-width: 1200px) {
			padding: 120px 0 0 120px;
		}
	}

	.heroBlockHeader {
		font-size: 24px;
		font-weight: 700;
		font-family: var(--font-montserrat), sans-serif;

		@media (min-width: 420px) {
			font-size: 28px;
		}

		@media (min-width: 576px) {
			font-size: 32px;
		}

		@media (min-width: 768px) {
			font-size: 38px;
		}

		@media (min-width: 992px) {
			font-size: 42px;
		}

		@media (min-width: 1200px) {
			font-size: 48px;
		}
	}

	.heroBlockText {
		font-family: var(--font-openSans), sans-serif;
		font-weight: 700;
		display: inline-block;
		font-size: 12px;
		max-width: 170px;

		@media (min-width: 420px) {
			font-size: 14px;
			max-width: 200px;
		}

		@media (min-width: 576px) {
			font-size: 16px;
			max-width: 220px;
		}

		@media (min-width: 768px) {
			font-size: 18px;
			max-width: 260px;
		}

		@media (min-width: 992px) {
			font-size: 20px;
			max-width: 280px;
		}

		@media (min-width: 1200px) {
			font-size: 20px;
			max-width: 480px;
		}
	}

	.heroBlockContentList {
		display: flex;
		gap: 8px;
		margin-top: 20px;

		@media (min-width: 576px) {
			gap: 8px;
			margin-top: 30px;
		}

		@media (min-width: 768px) {
			gap: 16px;
			margin-top: 60px;
		}

		@media (min-width: 992px) {
			gap: 24px;
			margin-top: 80px;
		}

		@media (min-width: 1200px) {
			gap: 32px;
			margin-top: 100px;
		}
	}
}

.heroImage {
	width: 100%;
	height: 314px;
	object-fit: cover;
	position: relative;
	display: inline-block;
	filter: brightness(80%);

	@media (min-width: 420px) {
		height: 344px;
	}

	@media (min-width: 576px) {
		height: 384px;
	}

	@media (min-width: 768px) {
		height: 414px;
	}

	@media (min-width: 992px) {
		height: 484px;
	}

	@media (min-width: 1200px) {
		height: 514px;
	}
}
