.calculatorButton {
	border: 1px #ff8c00 solid;
	background-color: #ff8c00;
	width: 100%;
	color: #fff;
	border-radius: 12px;
	padding: 6px 0;
	font-family: var(--font-montserrat), sans-serif;
	font-weight: 600;
	font-size: 12px;
	transition: all 0.4s ease-in-out;

	@media (min-width: 576px) {
		padding: 8px 0;
		font-size: 14px;
	}

	@media (min-width: 768px) {
		padding: 10px 0;
		font-size: 16px;
	}

	@media (min-width: 992px) {
		padding: 12px 0;
		font-size: 18px;
	}

	@media (min-width: 1200px) {
		padding: 14px 0;
		font-size: 20px;
	}

	&:hover {
		cursor: pointer;
		background-color: transparent;
		color: #ff8c00;
	}
}
