.accordionContainer {
	border: 1px solid #4caf50;
	border-radius: 8px;
	margin-bottom: 10px;
	overflow: hidden;
}

.accordionMain {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 8px;
	cursor: pointer;
	transition: all 0.4s ease-in-out;

	@media (min-width: 576px) {
		padding: 14px 10px;
	}

	@media (min-width: 768px) {
		padding: 16px 12px;
	}

	@media (min-width: 992px) {
		padding: 18px 14px;
	}

	@media (min-width: 1200px) {
		padding: 20px 16px;
	}

	&:hover {
		color: #4caf50;

		svg {
			transition: all 0.4s ease-in-out;
			transform: scale(1.5);
		}
	}
}

.accordionHeader {
	text-align: left;
	font-family: var(--font-montserrat), sans-serif;
	font-weight: 600;
	font-size: 12px;

	@media (min-width: 576px) {
		font-size: 14px;
	}

	@media (min-width: 768px) {
		font-size: 16px;
	}

	@media (min-width: 992px) {
		font-size: 18px;
	}

	@media (min-width: 1200px) {
		font-size: 20px;
	}
}

.accordionContent {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: max-height 500ms cubic-bezier(0.4, 0, 0.2, 1),
		opacity 500ms ease-in-out;
}

.open {
	max-height: 300px;
	opacity: 1;
}

.closed {
	max-height: 0;
	opacity: 0;
}

.iconOpen {
	transform: rotate(180deg);
	transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iconClosed {
	transform: rotate(0deg);
	transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accordionText {
	text-align: left;
	display: flex;
	font-family: var(--font-openSans), sans-serif;
	font-size: 10px;
	font-weight: 400;
	color: #666666;
	min-height: 80px;
	padding: 12px 40px 12px 10px;

	@media (min-width: 768px) {
		font-size: 12px;
		padding: 14px 60px 14px 12px;
		min-height: 100px;
	}

	@media (min-width: 992px) {
		font-size: 14px;
		padding: 16px 80px 16px 14px;
		min-height: 120px;
	}

	@media (min-width: 1200px) {
		min-height: 160px;
		font-size: 16px;
		padding: 20px 100px 20px 16px;
	}
}
