.createServiceContainer {
	margin: 0 auto;
	width: 100%;

	box-shadow: 0 8px 24px #4caf4f50;
	border-radius: 12px;
	text-align: center;
	padding: 24px 24px 48px 24px;
	margin-bottom: 30px;

	.createServiceHeader {
		font-family: var(--font-montserrat), sans-serif;
		font-weight: 700;
		font-size: 42px;
		text-align: center;
		position: relative;
		margin: o auto;
		margin-bottom: 30px;
	}
}
