.cancelOrderContainer {
	margin-bottom: 60px;

	.cancelOrderHeader {
		font-family: var(--font-montserrat), sans-serif;
		font-weight: 700;
		font-size: 42px;
		text-align: center;
		position: relative;
		margin: o auto;
		margin-bottom: 30px;
	}
}

.orderTableItemAddress {
	width: 220px !important;
}
