.serviceListItemContainer {
	width: 288px;
	min-height: 300px;
	box-shadow: 0 8px 24px #4caf4f50;
	border-radius: 12px;
	text-align: center;
	padding: 18px 18px 36px 18px;

	@media (min-width: 576px) {
		width: 308px;
		min-height: 320px;
		padding: 20px 20px 38px 20px;
	}

	@media (min-width: 716px) {
		width: 318px;
		min-height: 340px;
		padding: 22px 22px 30px 22px;
	}

	@media (min-width: 768px) {
		width: 328px;
		min-height: 360px;
	}

	@media (min-width: 992px) {
		width: 348px;
		min-height: 380px;
		padding: 24px 24px 48px 24px;
	}

	@media (min-width: 1200px) {
		width: 348px;
		min-height: 380px;
		padding: 24px 24px 48px 24px;
	}

	.serviceListItemImage {
		margin-bottom: 12px;
	}

	.serviceListItemHeader {
		font-family: var(--font-montserrat), sans-serif;
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 6px;
	}

	.serviceListItemText {
		display: block;
		max-width: 280px;
		font-family: var(--font-openSans), sans-serif;
		font-size: 16px;
		font-weight: 400;
		color: #666666;
		word-wrap: break-word;
	}
}
